<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>A cerca de</ion-title>
    <ion-avatar slot="end">
      <img src="https://campus.mitic.gov.py/pluginfile.php/71653/user/icon/moove/f1?rev=3731814" alt="">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group value="colors">
    <ion-accordion value="colors">
      <ion-item slot="header" color="primary">
        <ion-label>Datos Personales</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-text>Mario</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Apellido</ion-label>
          <ion-text>Amarilla</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Edad</ion-label>
          <ion-text>10</ion-text>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes">
      <ion-item slot="header" color="primary">
        <ion-label>Habilidades</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>JQuery</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Visual Basic</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cobol</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>C++</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="numbers">
      <ion-item slot="header" color="primary">
        <ion-label>Skills</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label>SEO / SEM</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Analytics</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Orco nvl 10</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
