<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Vamos a ponernos en contacto contigo.
    </ion-list-header>    
  </ion-list>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"
                  name="nombre"
                  [(ngModel)]="formulario.nombre"
                  required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"
                  name="apellido"
                  [(ngModel)]="formulario.apellido"
                  required>
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email"
                    name="email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    [(ngModel)]="formulario.email"
                    required>
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Mensaje</ion-label>
          <ion-input type="text"
                    name="mensaje"
                    [(ngModel)]="formulario.mensaje"
                    required>
          </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit"
                [disabled]="formulario.invalid">
      Enviar
    </ion-button>    
  </form>

  <!-- Card Modal -->
  <ion-modal
    [isOpen]="isOpen"
    [breakpoints]="[0.1, 0.5, 1]"
    [initialBreakpoint]="0.5"
  >
    <ng-template>
      <ion-content style="padding: 10px;">Enviando: <pre>{{ formulario.value | json  }}</pre></ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>
